/* line 1, ../sass/layout.sass */
.side-left {
  float: left;
  width: 180px;
  margin: 0 50px;
}

/* line 6, ../sass/layout.sass */
.main {
  float: left;
  width: 700px;
}

/* line 10, ../sass/layout.sass */
.rightblock {
  position: relative;
  display: inline-block;
  width: 50px;
  float: left;
  top: 5px;
  text-align: right;
}

/* line 18, ../sass/layout.sass */
.leftblock {
  position: relative;
  padding-left: 60px;
}
