/* line 1, ../sass/layout.sass */
.side-left {
  float: left;
  width: 150px;
  margin: 0 50px;
}

/* line 5, ../sass/layout.sass */
.main {
  float: left;
  width: 700px;
}

/* line 8, ../sass/layout.sass */
.rightblock {
  position: relative;
  display: inline-block;
  width: 40px;
  float: left;
  text-align: right;
}

/* line 14, ../sass/layout.sass */
.leftblock {
  position: relative;
  padding-left: 50px;
}
