@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(http://fonts.googleapis.com/css?family=Inder);
/* line 6, ../sass/style.sass */
body {
  background-color: #fefdfe;
  width: 100% !important;
  -webkit-text-size-adjust: none;
  margin: 0;
  padding: 0;
  font-family: "Inder", monospace;
}

/* line 14, ../sass/style.sass */
::-moz-selection {
  background: #000;
  color: #fff;
}

/* line 17, ../sass/style.sass */
::selection {
  background: #000;
  color: #f6f8fa;
}

/* line 21, ../sass/style.sass */
h1 {
  margin: 20px 50px;
}

/* line 23, ../sass/style.sass */
h2 {
  margin: 0 0 20px 0;
}

/* line 25, ../sass/style.sass */
h3 {
  margin: 0;
}

/* line 27, ../sass/style.sass */
a {
  color: #393;
  font-weight: bold;
  text-decoration: none;
}
/* line 31, ../sass/style.sass */
a:hover {
  text-decoration: underline;
}

/* line 34, ../sass/style.sass */
input {
  border: 1px solid #666;
  padding: 3px 4px;
}

/* line 38, ../sass/style.sass */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 42, ../sass/style.sass */
ul li {
  margin: 0;
}
/* line 45, ../sass/style.sass */
ul.issues a {
  font-family: Source Code Pro, monospace;
}
/* line 47, ../sass/style.sass */
ul.issues a span {
  float: right;
}
/* line 50, ../sass/style.sass */
ul.stories li {
  margin: 15px 0;
}

/* line 53, ../sass/style.sass */
.date {
  color: #bbb;
  font-weight: normal;
  font-size: 0.8em;
  line-height: 1em;
}
