@import "compass"

@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro)
@import url(http://fonts.googleapis.com/css?family=Inder)

body
  background-color: #fefdfe
  width: 100% !important
  -webkit-text-size-adjust: none
  margin: 0
  padding: 0
  font-family: 'Inder', monospace

::-moz-selection
  background: #000
  color: #fff
::selection
  background: #000
  color: #f6f8fa

h1
  margin: 20px 50px
h2
  margin: 0 0 20px 0
a
  color: #393
  font-weight: bold
  text-decoration: none
  &:hover
    text-decoration: underline

input
  border: 1px solid #666
  padding: 3px 4px

ul
  list-style: none
  margin: 0
  padding: 0
  li
    margin: 0
  &.issues
    a
      font-family: Source Code Pro, monospace
      span
        color: #aaa
        font-weight: normal
        font-size: .8em
        float: right
  &.stories
    margin: 3px 0
