<div class="side-left" data-ng-include data-src="'partials/list.html'"></div>
<div class="main">
  <div>
    <h2>#{{current_issue.id|numberPadding:3}} - {{current_issue.date}}</h2>
    <h3>Edito</h3>
    <p ng-bind-html="edito">
      {{current_issue.edito}}
    </p>
  </div>
  <div ng-repeat="category in categories" ng-show="stories|filter:query|issueFilter:current_issue.id:query|categoryFilter:category.title">
    <h3>{{category.title}}</h3>
    <div ng-hide="!category.description">
      {{category.description}}
    </div>
    <ul class="stories">
      <li ng-repeat="story in stories|filter:query|issueFilter:current_issue.id:query|categoryFilter:category.title">
        <div class="rightblock">
          <img width="28" height="28" src="icons/{{story.subject[0]}}.png" ng-hide="!story.subject[0]" />
          <div ng-show="story.date" class="date">{{story.date}}</div>
        </div>
        <div class="leftblock">
          <a href="{{story.link}}">{{story.title}}</a><span class="quantity" ng-hide="!story.quantity"> - {{story.quantity}}</span>
          <div class="description" ng-bind-html="trusted_html(story.description)"></div>
        </div>
      </li>
    </ul>
  </div>
</div>
