<div class="side-left">
<input ng-model="query">
  <ul>
    <li ng-repeat="issue in issues">
      <a href="#/{{issue.id}}">{{issue.id}} <span>{{issue.date}}</span></a>
    <li>
  </ul>
    {{issue_filter}}
</div>
<div class="main">
  <div>
    <h1>#{{current_issue.id}} - {{current_issue.date}}</h1>
    <h2>Edito</h2>
    <p>
      {{current_issue.edito}}
    </p>
  </div>
  <div ng-repeat="category in categories">
    <h3>{{category.title}}</h3>
    <p ng-hide="{{category.description == undefined}}">
      {{category.description}}
    </p>
    <ul>
      <li ng-repeat="story in stories|filter:query|issueFilter:current_issue.id|categoryFilter:category.title">
        <a href="{{story.link}}">{{story.title}}</a>
        <p>{{story.description}}</p>
      </li>
    </ul>
  </div>
</div>
