<div class="side-left">
<input ng-model="query">
  <ul>
    <li ng-repeat="issue in issues">
      <a href="#/{{issue.id}}">{{issue.id}} <span>{{issue.date}}</span></a>
    <li>
  </ul>
    {{issue_filter}}
</div>
<div class="main">
  <div>
    <h1>#{{current_issue.id}} - {{current_issue.date}}</h1>
    <h2>Edito</h2>
    <p ng-bind-html="edito">
      {{current_issue.edito}}
    </p>
  </div>
  <div ng-repeat="category in categories">
    <h3>{{category.title}}</h3>
    <div ng-hide="!category.description">
      {{category.description}}
    </div>
    <ul>
      <li ng-repeat="story in stories|filter:query|issueFilter:current_issue.id|categoryFilter:category.title">
        <div class="rightblock">
          <img width="16" height="16" src="icons/{{story.subject[0]}}.png" ng-hide="!story.subject[0]" />
          <div ng-show="story.date" class="date">{{story.date}}</div>
        </div>
        <div class="leftblock">
          <a href="{{story.link}}">{{story.title}}</a><span class="quantity" ng-hide="!story.quantity"> - {{story.quantity}}</span>
          <div class="description">{{story.description}}</div>
        </div>
      </li>
    </ul>
  </div>
</div>
